:root {
--white-color: white;
  --black-color: black;
  --text-color: rgba(0,0,0,0.9)
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  color: var(--white-color);
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
background-color: #212121;
height: 100vh;
}
