.header {
width: 100%;
height: 6rem;
background-color: #212121;
position: fixed;
left: 0;
right: 0;
top: 0;
}
.header__navbar {
height: 6rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.4rem 1.7rem;
margin: 0.4rem 0.8rem;
}
.header__navbar-logo {
    display: flex;
}
.header__navbar-logo--icon {
font-size: 2rem;
color: var(--white-color);
}
.header__navbar-logo--img {
margin-left: 2rem;
}
.header__navbar-center {
    display: flex;
    align-items: center;
}
.header__navbar-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-input__search {
    width: 58rem;
display: flex;
align-items: center;
background-color: #323232;

}
.navbar-input__search input {
    background-color:  #121212;
    height: 4rem;
    width: 92%;
    border: none;
    padding-left: 0.8rem;
    color: var(--white-color);
    outline: none;


}
.navbar-input__search-keybord {
    font-size: 1.3rem;
    background-color: #121212;
    color: var(--white-color);
    position: relative;
    left: -5%;
}
.navbar-input__search-icon {
    font-size: 1.6rem;
    color: var(--white-color);

    
}
.header__navbar-voice {
width: 3rem;
height: 3.7rem;
background-color: #323232;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 1.5rem;
}
.navbar-voice__icon {
    color: var(--white-color);
font-size: 1.6rem;
}
.header__navbar-right {
display: flex;
align-items: center;
}
.header__navbar-camera {

}
.header__navbar-camera-icon {
color: var(--white-color);
font-size: 2.2rem;
}
.header__navbar-noti {
position: relative;
}
 
.header__navbar-noti:hover .header__noti-box {
    display:block;
}

.header__noti-box {
background-color: #212121;
height: 60vh;
width: 48rem;
border: 0.05rem solid #afafaf;
outline: none;
position: absolute;
top: 125%;
right: 24%;
overflow: scroll;
display: none;
z-index: 2;
}
.header__noti-box--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    border-bottom: 1px solid #afafaf;
    }
.header__navbar-noti::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 80%;
    left: -25%;
}

.header__noti-box--header-text {
font-size: 1.8rem;
font-weight: 300;
}
.header__noti-box--header-icon {
font-size: 1.6rem;
}
.header__noti-box--list {

}
.header__noti-box--item:hover {
background-color: #393939;
cursor: pointer;
position: relative;
}
.header__noti-box--item:hover i.header__noti-box--item-icon {
    display: block;
}
i.header__noti-box--item-icon {
display: none;
font-size: 1.8rem;
position: absolute;
right: 5%;
}
.header__noti-box--item {
height: 11rem;
padding: 1.6rem 1.6rem 1.6rem 1rem;
display: flex;
justify-content: space-evenly;
}
.noti-box--item-user {
    height: 5rem;
    border-radius: 50%;
}
.noti-box--item__content-text {
display: block;
width: 22rem ;
font-size: 1.4rem;
line-height: 1.4rem;
}
.noti-box--item-img--video {
height: 5rem;
width: 7rem;
}
.header__navbar-noti-icon {
color: var(--white-color);
font-size: 2.2rem;
margin: 0 3rem;
}
.header__navbar-user--img {
height: 3.8rem;
width: 4rem;
border-radius: 50%;
}
/* container */
.container {

    display: flex;
    height: 100vh;
}
.cotaniner__menu {

    margin-top:8rem;
    overflow: scroll;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}
.container__menu-list {
}
.container__menu-item {
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem 2.5rem;

}
.container__menu-item:hover {
cursor: pointer;
background-color: #afafaf;
}
.container__menu-item:last-child {
    width: 100%;
    padding-bottom: 2.4rem;
    border-bottom: #afafaf solid 0.1rem ;
    margin-bottom: 0;
}
.container__menu-item--link {
font-size: 1.6rem;
}
.container__menu-item--icon {
margin-right: 2.5rem;
}

.container__menu--chanel-list {

}
.container__menu--chanel-header {
    font-size: 1.6rem;
    margin: 0.6rem 0;
    color: #aaaaaa;
    padding: 1rem 2.5rem;

}
.container__menu--chanel-item {
padding: 1rem 2.5rem;
list-style: none;
display: flex;
align-items: center;
margin-bottom: 1.6rem;

}
.container__menu--chanel-item:hover {
    background-color: #afafaf;
    cursor: pointer;
}
.container__menu--chanel-img {
height: 2.38rem;
border-radius:50% ;
margin-right: 2.5rem;
}
.container__menu--chanel-name {
    font-size: 1.6rem;

}
.container__menu--chanel-item:last-child {
    width: 100%;
    padding-bottom: 2.4rem;
    border-bottom: #afafaf solid 0.1rem ;
    margin-bottom: 0;
}
.container__menu-discorver-list {

}
.container__menu-discorver-header {
    font-size: 1.6rem;
    margin: 0.6rem 0;
    color: #aaaaaa;
    padding: 1rem 2.5rem;
}
.container__menu-discorver-item {
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem 2.5rem;
}
/* .container__menu-discorver-item:last-child {
    width: 100%;
    padding-bottom: 2.4rem;
    border-bottom: #afafaf solid 0.1rem ;
    margin-bottom: 0;
} */
.container__menu-discorver-item:hover {
    background-color: #afafaf;
    cursor: pointer;
}
.container__menu-discorver-item--link {
    font-size: 1.6rem;
}
.container__menu-discorver-icon {
    margin-right: 2.5rem;
}






/* container-content */
.contianer__content {
    background-color: #181818;
    margin-top:7rem;
    margin-left: 19rem;
}

.container__recommend {
    margin-bottom: 1.6rem;
    border-top: 0.1px solid #383838;
    border-bottom: 0.1px solid #383838;
    padding: 1.2rem 0;
}
.container__recommend-list {
    overflow: scroll;
    list-style: none;
    display: flex;
    padding: 0 3rem;
}
.container__recommend-item {
    min-width: 7rem;

    margin-right: 1rem;
    padding: 0.8rem 1.2rem;
    background-color:  #383838;
    border-radius: 16px;
}
.container__recommend-item:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}
.container__recommend-item--link {
font-size: 1.4rem;
}
/* content main */
.container__main {
    background-color: #181818;

}
.grid.container__main {
    padding: 0 3rem;
}
.container__main-box {
margin-top: 2rem;
width: 265px;
}
.container__main-box--img {
border: 0.1px solid #414141 ;

height: 150px;
width: 100%;
}
.container__main-box--content {
display: flex;
margin-top: 0.6rem;
position: relative;
}

.container__main-box--content-icon {
    visibility:hidden;
    font-size: 1.4rem;
    position: absolute;
    right: 5%;

}
.container__main-box--content:hover .container__main-box--content-icon {
    visibility:visible;
    cursor: pointer;

}
.container__main-box--content-logo {
height: 4rem;
width: 40px;
border-radius: 50%;
}
.container__main-box--content-text {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;

}

.content-text__title {
    width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.content-text__name {
margin-top: 1rem;
font-size: 1.1rem;
color: #afafaf;

}
.content-text__view {
font-size: 1.1rem;
color: #afafaf;
}
.content-text__footer {

}