.header {
width: 100%;
height: 6rem;
border: 0.1px solid #dbdbdb;
background-color:var(--white-color);
position: fixed;
top: 0;
right: 0;
left: 0;
}
.header__navbar {
height: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.header__navbar-logo {
display: flex;
align-items: center;
}
.header__navbar-logo--img {

}

.header__navbar-logo--icon {
margin-left: 0.6rem;
position: relative;
}

.header__navbar-logo--box {
height: 7.2rem;
width: 12.4rem;
border-radius: 4px;
background-color: var(--white-color);
list-style: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 0 1px 3.125rem 0  rgba(0,0,0, 0.2);
position: absolute;
top: 140%;
right: 0;
display: none;
}
.header__navbar-logo--icon:hover .header__navbar-logo--box {
    display: block;
    cursor: pointer;
}   
.header__navbar-logo--box::after {
    content: "";
    height: 2rem;
    width: 100%;

    position: absolute;
    top: -20%;
}

.header__navbar-logo--item {
padding: 0.8rem 1.6rem;
width: 100%;
}
.header__navbar-logo--item:hover {
    background-color: #efefef;
    cursor: pointer;
}
.header__navbar-logo--item-icon {  
    font-size: 1.2rem;
    margin-right: 0.6rem;
}
.header__navbar-logo--item-text {
font-size: 1.5rem;
font-weight: 300;
}
.header__navbar-search {
height: 3.6rem;
width: 26.8rem;
padding: 0 2rem;
background-color: #efefef;
display: flex;
align-self: center;
border-radius: 8px;
}

.header__navbar-search--icon {
width: 4rem;
height: 3.6rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.6rem;
color: #8e8e8e;
}
.header__navbar-search-input {
    width: 100%;
    margin-left: 1.2rem;
    position: relative;
}
.header__navbar-search--input-text {
height: 3.6rem;
width: 22.8rem;
outline: none;
border: none;
background-color:#efefef ;
border-top-right-radius:8px ;
border-bottom-right-radius:8px ;
}

.header__navbar-search--input::placeholder {
color: #8e8e8e;
}
.header__navbar-search--input-text:focus ~ .header__navbar-search--history {
    display: block;
}
/* search-history */
.header__navbar-search--history{
width: 37.2rem;
height: 36rem;
background-color: var(--white-color);
box-shadow: 0 1px 3.125rem 0  rgba(0,0,0, 0.2);
position: absolute;
top: 138%;
right: -21%;
display: none;
}
.header__navbar-search--history::after {
    content: "";
    border-width: 7px 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -4%;
    right: 48%;
}
.header__navbar-search--history-list{
height: 100%;
width: 100%;
list-style: none;
}
.header__navbar-search--history-header{
height: 4.2rem;
width: 100%;
padding: 0 1.6rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.header__navbar-search--history-recent{
font-size: 1.6rem;
font-weight: 600;
}
.header__navbar-search--history-clear{
    font-size: 1.6rem;
    font-weight: 600;
    color: #0095f6;
}
.header__navbar-search--history-item{
height: 6rem;
padding: 0 1.6rem;
display: flex;
justify-content: space-between;
align-items: center;
}
.header__navbar-search--history-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
.header__navbar-search--history-user{
    display: flex;
}
.header__navbar-search--history-img{
height: 4.6rem;
width: 4.6rem;
object-fit: cover;
border-radius: 50%;
}
.header__navbar-search--history-name{
display: flex ;
flex-direction: column;
justify-content: center;
align-self: center;
margin-left: 1rem;
}
.header__navbar-search--history-nickname{
font-size: 1.4rem;
line-height: 2.2rem;
font-weight: 600;
}
.header__navbar-search--history-fullname{
    font-size: 1.6rem;

    color: #9d9d9d;
    
}
.header__navbar-search--history-close{

}
.header__navbar-search--history-icon{
font-size: 2rem;
color: #9d9d9d;

}
/*  */

.header__navbar-shorcut--list {
list-style: none;
display: flex;

}
.header__navbar-shorcut--item {
margin-left: 2.5rem;
}
.header__navbar-shorcut--item--mobile {
    margin-left: 2.5rem;    
    display: none;
}
.header__navbar-shorcut--icon.header__navbar-shorcut--user{
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    position: relative;
}
.header__navbar-shorcut--icon {
   
}
.header__navbar-shorcut--item-box-user:hover  .user__profile {
    display: block;
    cursor: pointer;
}

.user__profile {
width: 22.8rem;
height: 22rem;
position: absolute;
border-radius: 6px;
right: 11%;
top: 100%;
background-color: var(--white-color);
box-shadow: 0 1px 3.125rem 0  rgba(0,0,0, 0.2);
display: none;
}
.user__profile::after {
    content: "";
    border-width: 11px 9px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    bottom: 100%;
    right: 15%;
}
.user__profile::before {
    content: "";
    width: 100%;
    height: 3rem;
    position: absolute;
    right: 0;
    top: -11%;
}
.user__profile-list {
width: 100%;
margin: 0.6rem 0;
list-style: none;

}
.user__profile-item {
width: 100%;
padding: 0.8rem 1.6rem;
}
.user__profile-item:hover {
    background-color: #ecececdc;
    cursor: pointer;
}
.user__profile-item--icon {
    font-size: 1.4rem;

}
.user__profile-item--text {
    font-size: 1.4rem;
    margin-left: 1rem;
}
.user__profile-footer {
    width: 100%;
padding: 0.8rem 1.6rem;
font-size: 1.6rem;
border-top: 0.2px solid;
line-height: 2.3rem;
}
.user__profile-footer:hover {
    background-color: #ecececdc;
    cursor: pointer;
}
/* container */
.container {

margin-top: 8.6rem;
display: flex;
justify-content: center;
}
.container__main {
width: 44.6rem;
}
.container__main-story {
width: 46.8rem;
height: 11.2rem;
background-color: var(--white-color);
border: 0.1px solid #dedede;
border-radius: 6px;
overflow: scroll;
display: flex;
align-items: center;

}
.story__box {
margin: 0 0.5rem;
padding-left: 1rem;
display: flex;
flex-direction: column;
}
.story__box-img {
width: 6rem;
height: 6rem;
border-radius: 50%;
border: 2px solid #c13584 ;
padding: 1px;
object-fit: cover;
}
.story__box-name {
margin-top: 0.4rem;
font-size: 1.4rem;
}
.container__main-box {
width: 46.8rem;
background-color: var(--white-color);
border: 0.1px solid #e6e6e6;
border-radius: 8px;
margin-top: 1.6rem;

}
.container__main-box--header{
height: 5.6rem;
padding: 0 0.4rem;
margin: 0.4rem 0.8rem 0.4rem;
display: flex;
align-items: center;
justify-content: space-between;
}
.container__main-box--header-user{
display: flex;
align-items: center;
}
.container__main-box--header-img{
    object-fit: cover;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
}
.container__main-box--header-name{
font-size: 1.4rem;
font-weight: 600;
margin-left: 1rem;
}
.container__main-box--header-icon {
font-size: 1.6rem;
}
.container__main-box--img {
    width: 100%;
    height: 55rem;
    object-fit: cover;
    padding: 0;
}
.contain__main-box--react {
    padding: 0 0.4rem;
    margin: 1.2rem 0.8rem 0.4rem;
    display: flex;
    justify-content: space-between;
}
.contain__main-box--react-left .contain__main-box--react-icon {
    margin-right: 1.4rem;
}

.container__main-box--content {
    margin: 1.2rem 0.8rem 0.4rem;
    padding: 0 0.4rem;

}
.container__main-box--liked {
display: block;
font-size: 1.4rem;
font-weight: 600;
margin-bottom: 1rem;
}
.container__main-box--status {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.container__main-box--status-name {
    font-weight: 600;
}
.container__main-box--time {
color: #b7b7b7;
font-size: 1.4rem;
margin-bottom: 1rem;
}
.container__main-box--footer {
border-top: 0.1px solid #e6e6e6;
padding: 1.2rem 1.4rem 1.2rem;
display: flex;
align-items: center;
justify-content: space-between;

}
.container__main-box--input {
display: flex;
align-items: center;
}
.container__main-box--input input {
border: none;
outline: none;
font-size: 1.4rem;

}

.container__main-box--input-img {
margin-right: 0.8rem;
}
.container__main-box--footer-post {
font-size: 1.6rem;
font-weight: 600;
color: #0095f6;
}
.container__recommend {
width: 28rem;
margin-left: 6rem;
}
.container__recommend-header {
display: flex;
justify-content: space-between;
align-items: center;
}
.container__recommend-header--user {
display: flex;

}
.container__recommend-header--img {
height: 5.6rem;
width: 5.6rem;
border-radius: 50%;
object-fit: cover;

}
.container__recommend-header--name {
margin-left: 1.8rem;
display: flex;
flex-direction: column;
justify-content: center;
}
.container__recommend-header--nickname {
font-size: 1.3rem;
font-weight: 600;
}
.container__recommend-header--fullname {
font-size: 1.2rem;
color: #8e8e8e;
}
.container__recommend-header--switch {
color: #0095f6;
font-size: 1.4rem;
}
.container__recommend-content{

}
.container__recommend-content--header{
display: flex;
justify-content: space-between;
margin: 2rem 0;

}
.container__recommend-content--text:first-child{
font-size: 1.4rem;
color: #8e8e8e;
font-weight: 600;
}
.container__recommend-content--text:last-child{
font-size: 1.2rem;
font-weight: 500;
}
.container__recommend-content--box{
margin: 1.4rem 0;
display: flex;
justify-content: space-between;
align-items: center;
}
.container__recommend-content--user{
display: flex;
}
.container__recommend-content--img{
height: 3.6rem;
width: 3.6rem;
border-radius: 50%;
object-fit: cover;
}
.container__recommend-content--name{
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__recommend-content--nickname{
font-size: 1.3rem;
font-weight: 600;
}
.container__recommend-content--suggest{
    font-size: 1.1rem;
    color: #8e8e8e;
}
.container__recommend-content--swtich{
    color: #0095f6;
    font-size: 1.3rem;
}
/* mobile */
.header__mobile {
    display: none;
}
.header__mobile-list {
width: 100%;
height: 5rem;
padding: 0 1rem;
border-top: 0.1px solid rgb(194, 194, 194);
background-color: var(--white-color);
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
bottom: 0;
right: 0;
left: 0;
}
.header__mobile-item {

}
.header__mobile-item--img-user {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
}
/*  */