/* mobile and tablet */
@media(max-width:1023px){
  .cotaniner__menu {
    display: none;
  }
  .container__recommend-list {
    overflow:scroll;
    }
    .container__recommend-item {
      min-width: 7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
 
}
@media (max-width:739px) {
  .navbar-input__search {
    display: none;
  }
.container__recommend {
    width: 100%;
  }
  .container__main-box--img {
    height: 250px;
  }
  .contianer__content {
    width: 100%;
    margin-left: 0;
  }
  .content-text__title {
    width: 380px;
  }
  .container__main-box--content-text {
    padding-left: 1.4rem;
    padding-right: 0;
}
.container__main-box--content-logo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
i.header__navbar-logo--icon{
  display: none;
}
.header__navbar-logo--img {
  margin-left: 0;
}
.header__navbar-voice {
  display: none;
}
.header__navbar-search {
  display: block;
  color: var(--white-color);
  font-size: 2.1rem;
  margin-left: 3rem;
}
.footer {
  display: block;
}
}
/* tablet */
@media (min-width:740px) and (max-width:1023px){
  .contianer__content{
  width: 100%;
  margin-left: 0;
}
.navbar-input__search {
  width: 28rem;
}
.navbar-input__search-keybord {
  position: relative;
  left: -8%;
}
.navbar-input__search input {
  width: 84%;
}